.max-width-1805px{
    max-width: 1805px;
}

.cv-content-width{
    width: 1350px;
}

.skill-margin-left{
    margin-left: 130px;
}

.width-50percent{
    width: 50%;
}

.width-75percent{
    width: 75%;
}

.width-85percent{
    width: 85%;
}