.margin-left-22dot5percent{
    margin-left: 22.5%;
}
.margin-left-33percent{
    margin-left: 33%;
}

@media (max-width: 812px) {
    .margin-left-22dot5percent{
        margin-left: 5%;
    }
}

/**/
.margin-right-22dot5percent{
    margin-right: 22.5%;
}